{
  "extends": ["plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    // enable additional rules
    "indent": ["warn", 2],
    "linebreak-style": ["warn", "unix"],
    "quotes": ["warn", "double"],
    "semi": ["warn", "always"],

    // override configuration set by extending "eslint:recommended"
    "no-empty": "warn",
    "no-cond-assign": ["warn", "always"],

    // disable rules from base configurations
     "for-direction": "off"
  },
  "parser": "babel-eslint"
}